<div class="container">
<div class="table-responsive" *ngIf="mode=='list'">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Razão social</th>
      <th scope="col">Nome fantasia</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Contato</th>
      <th scope="col">Cep</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Nro</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <th scope="row"><button type="button" class="btn btn-info" (click)="SHOW(customer.id)"><i class="fas fa-pen"></i></button></th>
      <td>{{ customer.cnpj }}</td>
      <td>{{ customer.razaoSocial }}</td>
      <td>{{ customer.nomeFantasia }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.telefone }}</td>
      <td>{{ customer.nomeContato }}</td>
      <td>{{ customer.enderecoCep }}</td>
      <td>{{ customer.enderecoLogradouro }}</td>
      <td>{{ customer.enderecoNro }}</td>
      <td>{{ customer.enderecoBairro }}</td>
      <td>{{ customer.enderecoCidade }}</td>
      <td>{{ customer.enderecoEstado }}</td>
      <td><button type="button" class="btn btn-danger" (click)="DELETE(customer.id)"><i class="fas fa-trash"></i></button></td>
    </tr>

  </tbody>
</table>
</div>

<form *ngIf="mode=='edit'">

  <div class="form-group">
    <label>Endereço de email</label>
    <input type="text" class="form-control" formControlName="id" disabled placeholder="id">
  </div>

  <div class="form-group">
    <label>CNPJ</label>
    <input type="text" class="form-control" formControlName="CNPJ" placeholder="CNPJ">
  </div>

  <div class="form-group">
    <label>Razão social</label>
    <input type="text" class="form-control" formControlName="RazaoSocial" placeholder="Razão social">
  </div>

  <div class="form-group">
    <label>Nome fantasia</label>
    <input type="text" class="form-control" formControlName="NomeFantasia" placeholder="Nome fantasia">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="Email" placeholder="Email">
  </div>

  <div class="form-group">
    <label>Telefone</label>
    <input type="text" class="form-control" formControlName="Telefone" placeholder="Telefone">
  </div>

  <div class="form-group">
    <label>Contato</label>
    <input type="text" class="form-control" formControlName="NomeContato" placeholder="Contato">
  </div>

  <div class="form-group">
    <label>Cep</label>
    <input type="text" class="form-control" formControlName="EnderecoCep" placeholder="Cep">
  </div>

  <div class="form-group">
    <label>Logradouro</label>
    <input type="text" class="form-control" formControlName="EnderecoLogradouro" placeholder="Logradouro">
  </div>

  <div class="form-group">
    <label>Nro</label>
    <input type="text" class="form-control" formControlName="EnderecoNro" placeholder="Nro">
  </div>

  <div class="form-group">
    <label>Bairro</label>
    <input type="text" class="form-control" formControlName="EnderecoBairro" placeholder="Bairro">
  </div>

  <div class="form-group">
    <label>Cidade</label>
    <input type="text" class="form-control" formControlName="EnderecoCidade" placeholder="Cidade">
  </div>

  <div class="form-group">
    <label>Estado</label>
    <input type="text" class="form-control" formControlName="EnderecoEstado" placeholder="Estado">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
